.button{
  display: flex;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


body {
  height: 100vh;
  width: 100vw;
}

.shopName {
  text-align: center;
} 

input {
  cursor: pointer;
}

.shop--container{
  display: flex;
  align-items: center;
  flex-direction: column;
}


